/* Wymiary strony */
body {
    position: relative;
width: 1440px;
height: 6318px;

background: #FFFFFF;
border-radius: 30px;
}
.naglowek {
    position: absolute;
width: 1440px;
height: 1156px;
left: 0px;
top: 47px;
}
/* Wymiary strony */




/* NAWIGACJA */     
.nawi__logo {
    position: absolute;
width: 192px;
height: 114px;
left: 60px;
top: 35px;
float: left;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 54px;
font-weight:bolder;


color: #4270C9;
}
.nawi__logo-span {
    color: black;
}
/* Chciałem ustawić wszystkie zmienne w klasie całej nawi (.nawi {}) a się nie udało i musiałem dzieci, czemu? */
.nawi {
    display:inline-flexbox;
    justify-content: center;
}
ul {
    margin:0 auto;
    width:30%;
    display:flex;
    justify-content:space-between;
    font-family: Poppins;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
float: right;
list-style-type:none;

    }
.nawi__list-item--home {
        position: absolute;
width: 48px;
height: 24px;
left: 727px;
top: 66px;

    }
    .nawi__list-item--findhome {
        position: absolute;
width: 86px;
height: 24px;
left: 845x;
top: 64px;
color: white;
padding-left: 10px;
position: absolute;
width: 141px;
height: 47px;
left: 815px;
top: 53px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 47px;
background: #4270C9;
box-shadow: 4px 20px 32px rgba(158, 175, 201, 0.2);
border-radius: 30px;
padding-left: 10px;
    }



.nawi__list-item--about {
        position: absolute;
width: 71px;
height: 24px;
left: 975px;
top: 64px;
    }
.nawi__list-item--loc {
        position: absolute;
width: 68px;
height: 24px;
left: 1073px;
top: 64px;
    }
.nawi__list-item--rev {
        position: absolute;
width: 64px;
height: 24px;
left: 1168px;
top: 64px;

    }
.nawi__list-item--signin {
       position: absolute;
       width: 53px;
       height: 24px;
       left: 1264px;
       top: 64px;
       
   }
/* KONIEC NAWIGACJI */
.naglowek__heading-p {
position:absolute;
width: 946px;
height: 154px;
left: 220px;
top: 185px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-weight:bold;
font-size: 64px;
line-height: 77px;
color: black;
text-align: center;

}
.dream {
    color: rgb(95, 95, 249);
    text-align-last: center;
}

.naglowek__heading-p2 {
    position: absolute;
    text-align: center;
    width: 659px;
    height: 36px;
    left: 363px;
    top: 389px;
    
    font-family: roboto;
    font-style: normal;
    font-size: 26px;
    line-height: 36px;
    font-weight:500;
    color: #656565;
}
.naglowek__heading-p2-span {
text-decoration: underline;
font-family:roboto;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 36px;
}


.obraz {
position: absolute;
left: 0px;
top: 459px;
}

/*  SELECT */
.wybierz {
    position: absolute;
width: 768px;
height: 108px;
left: 336px;
top: 1071px;

background: #FFFFFF;
box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.15);
border-radius: 60px;
}
.wybierz__location {
    /* font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px; 
position: absolute;
width: 69px;
height: 24px;
left: 416px;
top: 1102px;*/
position: absolute;
top: 35px;
left: 80px;


font-style: normal;
font-weight: 700;
font-size: 16px;
font-family: poppins;

}
.wybierz__location-select {
    position: absolute;
    top: 38px;
    left:150px; 
}
/* KONIEC SELECT */


/* Sekcja */
.sekcja {
    position: absolute;
width: 1015px;
height: 706px;
left: 201px;
top: 1308px;
}
.sekcja__h1 {
    position: absolute;
    width: 247px;
    height: 60px;
    left: 390px;
    top: 0px;
    font-family: poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
color: #000000;
}

.sekcja__p1 {
    position: absolute;
width: 510px;
left: 250px;
top: 100px;
text-align: center;
font-family: Poppins;
font-style: normal;
font-weight:normal;
font-size: 14px;
letter-spacing: 0.030em;
}

.sekcja__img1 {
    position: absolute;
left: 20px;
top:  230px;

background: url(image.png);
border-radius: 5px;
transform: rotate(0.41deg);
}
.sekcja__img2 {
    position: absolute;
left: 350px;
top: 260px;

background: url(image.png);
filter: drop-shadow(0px 16px 24px rgba(112, 144, 176, 0.2));
border-radius: 5px;
}
.sekcja__img3 {
    position: absolute;
left: 690px;
top: 240px;

background: url(image.png);
border-radius: 5px;
}
/* Koniec sekcji */



